body {
  height: 100% !important;
  margin: 0;
  padding: 0;
  width: 100% !important;
  background-color: #FFFFFF;
  font-family: 'Poiret One', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Junge', serif;
font-family: 'Italiana', serif;
}

.thumbnailcustom {
  padding: 0;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 0px;
  border: 0px;
}

.thumbnailcustom img {
  width: 100%;
  display: block;
}



/* LINK Start */
/* unvisited link */
a:link {
  color: #4DB0D9;
}

/* visited link */
a:visited {
  color: #4DB0D9;
}

/* mouse over link */
a:hover {
  color: #4D6AD9;
}

/* selected link */
a:active {
  color: #4D6AD9;
}

/* LINK END */


/* table {
  border-collapse: collapse;
  margin: 0px auto;
}

.container {
  min-width: 0 !important
} */


/* RESPONSIVE CODE Start */
/* @import "compass/css3"; */

/* Clearfix  */
/* .group:after {
    content: "";
    display: table;
    clear: both;
} */

/* Edit these two variables to fit page */
/* $content-width: 960px;
$image-width: 390px; */

/* Column padding (horizontal and vertical) */
/* $pad-3-col-decimal: 0.025;
$pad-2-col-decimal: 0.03;
$pad-1-col-decimal: 0.05; */

/* Media query breakpoints (based on images showing at their full size in 1 and 2 column layouts) */
/* $breakpoint-2-col: ($image-width * 2) + ($pad-2-col-decimal * $content-width);
$breakpoint-1-col: $image-width;

#content-container {
    max-width: $content-width;
    margin:0 auto;
}

.gallery {
    max-width: 100%;

    .grid {
        float: left;
    } */

    /* 3 column layout */
    /* @media (min-width: $breakpoint-2-col) {
        $pad-3-col: percentage($pad-3-col-decimal);

        .grid {
            width: ( 100% - ( $pad-3-col * 2 ) ) / 3;
            padding: 0 $pad-3-col $pad-3-col 0;
        }
        .grid:nth-child(3n+3) {
            padding-right: 0;
        }
    } */

    /* 2 column layout */
    /* @media (max-width: $breakpoint-2-col) {
        $pad-2-col: percentage($pad-2-col-decimal);

        .grid {
            width: (100% - $pad-2-col) / 2;
            padding: 0 $pad-2-col $pad-2-col 0;
        }
        .grid:nth-child(2n+2) {
            padding-right: 0;
        }
    } */

    /* 1 column layout */
    /* @media (max-width: $breakpoint-1-col) {
        $pad-1-col: percentage($pad-1-col-decimal);

        .grid {
            width: 100%;
            padding-bottom: $pad-1-col;
        }
    }

    a {
        position: relative;
        display: block;

        img {
            width: 100%;
            height: auto;
            display: block;
        } */

        /* Caption overlays on hover */
        /* span {
            @include box-sizing(border-box);
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            padding: 5%;
            background-color: black;
            color: white;
            text-align: center;

            @include opacity(0.0);
            @include transition-property(opacity);
            @include transition-duration(0.5s);
        }

        &:hover span {
            @include opacity(0.5);
        } */
    /* }
} */

/* RESPONSE CODE END */


/* APPLE BLUE LINKS */
/* .smart-7a7a7a a {
  color: #7a7a7a !important;
  text-decoration: none !important;
}

.smart-565656 a {
  color: #565656 !important;
  text-decoration: none !important;
}

.smart-FFFFFF a {
  color: #FFFFFF !important;
  text-decoration: none !important;
} */

/* MEDIA QUERY SCREEN 620px */
/* @media screen and (max-width: 620px),
screen and (max-device-width: 620px) {

  table[class="full-table-early"],
  td[class="full-table-early"] {
    width: 100% !important;
    min-width: 0 !important;
  }

  td[class="mobile-hide-early"] {
    height: 1px !important;
    display: none !important;
    min-width: inherit !important;
  }

  td[class="hero"] {
    padding: 0 20px !important;
  }

  td[class="hero"] img {
    width: 100% !important;
    height: auto !important;
  }

  td[class="copy-block"] {
    padding: 0 20px !important;
  }

} */


/* MEDIA QUERY SCREEN 579px */
/* @media screen and (max-width: 579px),
screen and (max-device-width: 579px) {
  table[class="full-table"] {
    width: 100% !important;
    min-width: 0 !important;
  }

  *[class="head"] {
    display: table-header-group !important;
    width: 100% !important;
  }

  *[class="foot"] {
    display: table-footer-group !important;
    width: 100% !important;
  }

  .head:after {
    content: '---------------------------------------------------------------------------------------------------------------------';
    max-height: 0;
    overflow: hidden;
    display: block;
  }

  td[class="footer-center"] {
    text-align: center !important;
    padding: 0 !important;
  }

  table[class="footer-column"] {
    width: 280px !important;
    text-align: center !important;
    min-width: 0 !important;
  }

  .footer-mobile-hide {
    height: 1px !important;
    display: none !important;
    min-width: inherit !important;
  }

  #footer-bar:after {
    content: " | " !important;
    padding: 10px 5px 0 5px !important;
  }

  td[class="padding-20"] img {
    padding: 0 10px 0 10px !important;
  }

} */

/* MEDIA QUERY SCREEN 414px */
/* @media screen and (max-width: 414px),
screen and (max-device-width: 414px) {
  td[class="mobile-hide"] {
    height: 1px !important;
    display: none !important;
  }

} */

/* MEDIA QUERY SCREEN 300px */
/* @media screen and (max-width: 300px),
screen and (max-device-width: 300px) {

  td[class="mobile-hide-xs"],
  tr[class="mobile-hide-xs"] {
    height: 1px !important;
    display: none !important;
  }

} */
